{
  "globals": {
    "wcmp": "readonly",
    "PostNL": "readonly",
    "PostNLFrontend": "readonly",
    "MyParcelDisplaySettings": "readonly",
    "PostNLDeliveryOptions": "readonly"
  },
  "extends": [
    "@myparcel/eslint-config/preset-default"
  ],
  "rules": {
    "no-console": "error",
    "vars-on-top": "off",
    "multiline-comment-style": [
      "error",
      "starred-block"
    ],
    "newline-per-chained-call": [
      "warn",
      {
        "ignoreChainWithDepth": 2
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "checkout.js",
        "wcpn-admin.js",
        "wcpn-frontend.js"
      ],
      "env": {
        "jquery": true
      }
    }
  ]
}
